body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100svh;
   
}
ul li{
    list-style: none;
}

.form{
    max-width: 80rem;
    margin: 0 auto;
}
header *, footer *{
    text-align: center;
}
header{
    background-color: #d63031;
    margin-bottom: 6rem;
}
header h1, :is(p){
    font-size: xx-large;
    color: #fff;
    margin: 0;
    line-height: 7rem;
   
}
section h2{
    font-size: x-large;
    margin: 0;
}
section p{
    font-size: inherit;
    color: #1c0101;
    line-height: inherit;
}
[placeholder]{
    font-style: italic;
    color: #5e5d5d;
}
.collection-collab .picture img{
    display: inline-block;
    object-fit: cover;
    width: 20%;
}
form label{
    font-weight: normal;
}
footer *{
    color: initial;
    font-size: inherit;
}